/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-bg {
    background-color: #264653;
}

.log-in {
    background-color: #E76F51;
    color: white;
    transition: .8s;
}

.log-in:hover {
    background-color: white;
    color: black;
    border: 1px solid #E76F51;
}

.modal-bg {
    background-color: #E76F51;
}

.about-bick-control {
    font-size: 14px;
}

.bick-control-heading {
    font-size: 55px;
}

.bick-description {
    font-size: 22px;
}

.custom-under-line-parent {
    position: relative;
    height: 25px;
    color: #E76F51;
}

.custom-under-line::after {
    content: '';
    position: absolute;
    left: 48%;
    bottom: 0;
    width: 58px;
    height: 1px;
    background-color: #E76F51;

}

.clintes-talk {
    color: #E76F51;
}

.grayscale {
    filter: grayscale(100%);
}

.read-btn-1 {
    background-color: #E76F51;
    color: white;
    transition: 1s;
}

.read-btn-1:focus {
    outline: none;
    box-shadow: none;
}

.read-btn-1:hover {
    border: 1px solid #E76F51;
    background-color: white;
    color: black;
}

.read-btn-other {
    border: 1px solid #E76F51;
    transition: 1s;
}

.read-btn-other:focus {
    outline: none;
    box-shadow: none;
}

.read-btn-other:hover {
    border: none;
    background-color: #E76F51;
    color: white;
}
.icon{
    color: #E76F51;
}
.question {
    color: #E76F51;
}
.app-store-box {
    width: 230px;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
}
.brand {
    font-size: 70px;
}
.download {
    font-size: 15px;
}
.app-store{
    font-size: 25px;
}
.google-play {
    font-size: 20px;
}


@media (max-width: 768px) {
    .about-bick-control {
        font-size: 16px;
    }

    .bick-control-heading {
        font-size: 48px;
    }

    .bick-description {
        font-size: 15px;

    }
    .small-device-none {
        display: none;
    }
    .play-and-app-store {
        justify-content: start !important;
    }
    .play-and-app-store-child {
        padding-left: 10px;
    }
}
@media (max-width: 378px) {
    .about-bick-control {
        font-size: 12px;
    }

    .bick-control-heading {
        font-size: 30px;
    }

    .bick-description {
        font-size: 10px;

    }
}